/*
 * @Description: 原子css
*/

/* margin-top start*/
.mgt5 {
  margin-top: 5px;
}
.mgt10 {
  margin-top: 10px;
}
.mgt15 {
  margin-top: 15px;
}
.mgt20 {
  margin-top: 20px;
}
.mgt25 {
  margin-top: 25px;
}
.mgt30 {
  margin-top: 30px;
}
/* margin-top end*/

/* margin-bottom start*/
.mgb5 {
  margin-bottom: 5px;
}
.mgb10 {
  margin-bottom: 10px;
}
.mgb15 {
  margin-bottom: 15px;
}
.mgb20 {
  margin-bottom: 20px;
}
.mgb25 {
  margin-bottom: 25px;
}
.mgb30 {
  margin-bottom: 30px;
}
/* margin-bottom end*/

/* margin-left start*/
.mgl5 {
  margin-left: 5px;
}
.mgl10 {
  margin-left: 10px;
}
.mgl15 {
  margin-left: 15px;
}
.mgl20 {
  margin-left: 20px;
}
.mgl25 {
  margin-left: 25px;
}
.mgl30 {
  margin-left: 30px;
}
/* margin-left end*/


/* margin-right start*/
.mgr5 {
  margin-right: 5px;
}
.mgr10 {
  margin-right: 10px;
}
.mgr15 {
  margin-right: 15px;
}
.mgr20 {
  margin-right: 20px;
}
.mgr25 {
  margin-right: 25px;
}
.mgr30 {
  margin-right: 30px;
}
/* margin-right end*/

/* padding-top start*/
.padt5 {
  padding-top: 5px;
}
.padt10 {
  padding-top: 10px;
}
.padt15 {
  padding-top: 15px;
}
.padt20 {
  padding-top: 20px;
}
.padt25 {
  padding-top: 25px;
}
.padt30 {
  padding-top: 30px;
}
/* padding-top end*/

/* padding-bottom start*/
.padb5 {
  padding-bottom: 5px;
}
.padb10 {
  padding-bottom: 10px;
}
.padb15 {
  padding-bottom: 15px;
}
.padb20 {
  padding-bottom: 20px;
}
.padb25 {
  padding-bottom: 25px;
}
.padb30 {
  padding-bottom: 30px;
}
/* padding-bottom end*/

/* padding-left start*/
.padl5 {
  padding-left: 5px;
}
.padl10 {
  padding-left: 10px;
}
.padl15 {
  padding-left: 15px;
}
.padl20 {
  padding-left: 20px;
}
.padl25 {
  padding-left: 25px;
}
.padl30 {
  padding-left: 30px;
}
/* padding-left end*/


/* padding-right start*/
.padr5 {
  padding-right: 5px;
}
.padr10 {
  padding-right: 10px;
}
.padr15 {
  padding-right: 15px;
}
.padr20 {
  padding-right: 20px;
}
.padr25 {
  padding-right: 25px;
}
.padr30 {
  padding-right: 30px;
}
/* padding-right end*/


/* colors start*/
.c_9b9b9b {
  color: #9b9b9b;
}
/* colors end*/


/* flex start*/
.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-c {
  display: flex;
  justify-content: center;
}
/* flex end*/


.t_c {
  text-align: center;
}
.t_r {
  text-align: right;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

/* fontsize start*/
@mixin fontsize($fontsize) {
  font-size: $fontsize;
}
.fs12 {
  @include fontsize(12px);
}
.fs13 {
  @include fontsize(13px);
}
.fs14 {
  @include fontsize(14px);
}
.fs16 {
  @include fontsize(16px);
}
.fs17 {
  @include fontsize(17px);
}
.fs18 {
  @include fontsize(18px);
}
.fs20 {
  @include fontsize(20px);
}
/* fontsize end*/